/* 
	Colors:
	#464655
	#EAEAEA
	#ada7c9
	#8C271E
	#a5d0a8
*/

body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	background-color: #EAEAEA;
}


.header-logo {
	max-width: 70%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fas {
	color: #8C271E;
}

.featured {
	display: flex;
	flex-flow: row wrap;
	width: ;
	max-width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	
}

.featured-pic1 {
	max-width: 100%;
	padding: 10px;
}

.featured-pic2 {
	max-width: 100%;
	padding: 10px;
}

.featured-pic3 {
	max-width: 100%;
	padding: 10px;
}